<div class="main-gallery">
    <h3 class="header">
        Image Gallery or something of this sort
    </h3>
    <hr>
    <div class="sibling-fade">
        <div class="thumbnail gallery-image" *ngFor="let imageUrl of imageObject">
            <a  (click)="toggleModal()">
                <img [src]="imageUrl">
            </a>
        </div>
    </div>

    <div *ngIf="isModalVisible">
        <div  id="galleryModal" class="modal">
            <img (click)="toggleFullSize()" [ngClass]="isFullSize ? 'fullscreen' : ''" [src]='getImageSrc()' class="modal-content">
            <button [disabled]="countIsZero()" class="arrow left previous" (click)="decrement()"></button>
            <button (keyup)="increment()" class="arrow right next" (click)="increment()"></button>
            <span class="close" (click)="toggleModal()" >&times;</span>
            <div class="note">Click on image to view full screen</div>
        </div>
    </div>

</div>
