body{
  font-family: Roboto;
  background-size: cover;
  background: linear-gradient(135deg, #42455B 0%, #8B8EA9 100%);
}

.main-gallery{

  .gallery-image{
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 50%;
    width: 50%;
  }
}