<div class="main-gallery">
    <h3 class="header">
        Image Gallery or something of this sort
    </h3>
    <hr>
    <div class="sibling-fade">
        <div class="thumbnail gallery-image" *ngFor="let imageUrl of imageObject">
            <a  (click)="toggleModal()">
                <img [src]="imageUrl">
            </a>
        </div>
    </div>

    <div *ngIf="isModalVisible">
        <div id="galleryModal" class="modal">
            <img [src]='getImageSrc()' class="modal-content" id="img01">
            <button (keypress)="onKeyDecrement(event)" [disabled]="countIsZero()" class="previous" (click)="decrement()">&lt;</button>
            <button (keyup)="increment()" class="next" (click)="increment()">&gt;</button>
            <span class="close" (click)="toggleModal()" >&times;</span>
        </div>
    </div>

</div>
